.form-control {
    background: transparent;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(52, 160, 160);
    font-size: 21px;
    color: white;
}

.form-control:hover {
    border: none;
    border-bottom: 2px solid rgb(77, 238, 77);
}

.btn-info {
    margin-top: 20px;
    font-size: 21px;
    width: 200px;
    background: transparent;
    text-align: center;
    margin-left: 30px;
}

#form {
    box-shadow: -1px 1px 50px 10px black;
    border-radius: 0px 100px 0px 100px;
    height: 500px;
    background: rgb(0, 0, 0, 0.6);
}

.btn-info:hover {
    border: 2px solid rgb(77, 238, 77);
}

::-webkit-input-placeholder {
    color: white;
    font-size: xx-large;
}
